@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="text-center">
            <h3>
                Heyecan verici bir partimiz olacak.</h3><br />
                <a class="btn btn-primary" asp-action="Form">Şimdi Forma Git</a>

        </div>
    </div>
</body>
</html>